<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
  <div>MEAN Etudiants</div>
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>

<span class="spacer"></span>
  <button mat-icon-button routerLink="/login" class="example-icon favorite-icon">
    <mat-icon>login</mat-icon>
  </button>

  <button mat-icon-button>
    <mat-icon matBadge="5" matBadgeColor="warn" matBadgeSize="small">message</mat-icon>
  </button>

  <button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5">
    <img width="35px" height="35px" style="border-radius: 50%;" src="assets/img/usr/aline.jpg" alt="user" class="profile-pic">
  </button>
  <mat-menu #profile="matMenu" class="mymegamenu">
      <button mat-menu-item>
          <mat-icon>settings</mat-icon> Settings </button>
      <button mat-menu-item>
          <mat-icon>account_box</mat-icon> Profile </button>
      <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon> Disable notifications </button>
      <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon> Sign Out </button>
  </mat-menu>

</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav
    #sidenav
    [mode]="isBiggerScreen() ? 'over' : 'side'"
    [(opened)]="opened"
    [fixedInViewport]="true"
    [fixedTopGap]
  >
    <mat-nav-list>
     <a mat-list-item class="mat-list-item" routerLinkActive="active" [routerLink]="['/etudiantAdd', -1]">
      <mat-icon>add</mat-icon> Add Student
    </a>
    <a mat-list-item class="mat-list-item" routerLinkActive="active" routerLink="/etudiantList">
      <mat-icon>format_list_bulleted</mat-icon> View Students
    </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
